@import "../../../../styles.scss";

h1 {
  font-size: 32pt;
}

.header-container {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $header-height;
  border-bottom: 8px double $gray;
}

.header-input, .header-title {
  margin: 0;
  padding: 20px 0 0 0;
  width: 100%;
  font-weight: 700;
  font-size: 32pt;
  resize: none;
}

.new-note {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.new-note--start {
  z-index: 10;
  left: 15px;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
}
