@import "../styles.scss";

.note-container {
  position: relative;
  width: $note-width;
  height: $note-height;
  padding: 0;
  background-color: $paper-color;
  border: 1px solid $gray;
  border-radius: 35px;
}

.body-container {
  position: relative;
  height: $body-height;
  width: 100%;
  background: repeating-linear-gradient(
      0deg,
      $paper-color,
      $paper-color 50px,
      $gray 50px,
      $gray 52px
  ) scroll;
}
